<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Planilla de Componentes</title>
  <style>
    /* Estilos CSS aquí */
  </style>
</head>
<body>

  <table id="componentes-table">
    <tr style="height: 20px">
      <td
        colspan="2"
        class="text-center bg-secondary text-light border align-middle"
      >NOMBRE</td>
      <td class="text-center text-light border align-middle"><input
          class="text-center w-100"
          type="text"
        /></td>
      <td></td>
      <td
        colspan="2"
        class="text-center bg-secondary text-light border align-middle"
      >NUMERO DE ORDEN</td>
    </tr>

    <tr style="height: 20px">
      <td
        colspan="2"
        class="text-center bg-secondary text-light border align-middle"
      >CONTACTO</td>
      <td class="text-center text-light border align-middle"><input
          class="text-center w-100"
          type="text"
        /></td>
      <td></td>
      <td
        colspan="2"
        class="text-center bg-secondary text-light border align-middle"
      ><input type="text" /></td>
    </tr>

    <tr style="height: 20px">
      <td
        colspan="2"
        class="text-center bg-secondary text-light border align-middle"
      >TELEFONO</td>
      <td class="text-center text-light border align-middle"><input
          class="text-center w-100"
          type="text"
        /></td>
      <td></td>
    </tr>

    <tr>
      <th
        style="padding: 10px; font-size: 10px"
        class="text-center bg-secondary text-light border align-middle"
      >ARTICULO</th>
      <th
        style="padding: 10px; font-size: 10px; width: 40px;"
        class="text-center bg-secondary text-light border align-middle"
      >CAN</th>
      <th
        style="padding: 10px; width: 400px; font-size: 10px"
        class="text-center bg-secondary text-light border align-middle"
      >DESCRPCION ARTICULO</th>
      <th
        style="padding: 10px; font-size: 10px; width: 90px"
        class="text-center bg-secondary text-light border align-middle"
      >GARANTIA</th>
      <th
        style="padding: 10px; font-size: 10px; width: 90px"
        class="text-center bg-secondary text-light border align-middle"
      >CONTADO</th>
      <th
        style="padding: 10px; font-size: 10px; width: 90px"
        class="text-center bg-secondary text-light border align-middle"
      >PRECIO LISTA</th>
    </tr>
    <tbody>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >PROCESADOR</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="procesadorCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="procesadorDescripcion"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="procesadorGarantia"
            placeholder="Garantía"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="procesadorContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="procesadorPlista"
            placeholder="Precio lista"
          /></td>
      </tr>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >PLACA MADRE</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="placamadreCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="placamadreDescripcion"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="placamadreGarantia"
            placeholder="Garantía"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="placamadreContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="placamadrePlista"
            placeholder="Precio lista"
          /></td>
      </tr>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >MEMORIA RAM</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="memoriaCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="memoriaDescripcion"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="memoriaGarantia"
            placeholder="Garantía"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="memoriaContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="memoriaPlista"
            placeholder="Precio"
          /></td>
      </tr>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >DISCO RIGIDO</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="discoCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="discoDescripcion"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="discoGarantia"
            placeholder="Garantía"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="discoContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="DiscoPlista"
            placeholder="Precio"
          /></td>
      </tr>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >GABINETE</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="gabineteCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="gabineteDescripcion"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="gabineteGarantia"
            placeholder="Garantía"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="gabineteContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia6"
            type="text"
            id="gabinetePlista"
            placeholder="Precio"
          /></td>
      </tr>
      <tr>
        <td
          style="background:rgba(166, 166, 166, 0.721); font-size: 12px"
          class="text-center"
        >MONITOR</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="monitorCantidad"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Ingrese descripción articulo"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="monitorGarantia"
            placeholder="Garantia"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="monitorContado"
            placeholder="Precio"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="monitorPlista"
            placeholder="Precio"
          /></td>
      </tr>
      <tr>
        <td colspan="6" style="height: 15px;"></td>
      </tr>
      <tr style="height: 35px">
        <td
          colspan="4"
          class="text-center bg-secondary text-light border align-middle"
        >TOTAL</td>
        <td
          class="text-center bg-secondary text-light border align-middle"
        ></td>
        <td
          class="text-center bg-secondary text-light border align-middle"
        ></td>
      </tr>

    </tbody>
  </table>

  <button id="agregar-componente">Crear Presupuesto</button>

  <div id="excel-sheet"></div>

  <script src="script.js"></script>
</body>