<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Planilla de Componentes</title>
  <style>
    /* Estilos CSS aquí */
  </style>
</head>
<body>
  <table id="componentes-table">
    <tr>
      <th
        style="padding: 10px; font-size: 10px"
        class="text-center bg-secondary text-light border align-middle"
      >ARTICULO</th>
      <th
        style="padding: 10px; font-size: 10px; width: 40px;"
        class="text-center bg-secondary text-light border align-middle"
      >CAN</th>
      <th
        style="padding: 10px; width: 300px; font-size: 10px"
        class="text-center bg-secondary text-light border align-middle"
      >DESCRPCION ARTICULO</th>
      <th
        style="padding: 10px; font-size: 10px; width: 40px"
        class="text-center bg-secondary text-light border align-middle"
      >GARANTIA</th>
      <th
        style="padding: 10px; font-size: 10px;"
        class="text-center bg-secondary text-light border align-middle"
      >CONTADO</th>
      <th
        style="padding: 10px; font-size: 10px"
        class="text-center bg-secondary text-light border align-middle"
      >PRECIO LISTA</th>
    </tr>
    <tbody>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">PROCESADOR</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia1"
            placeholder="Garantía"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
      </tr>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">PLACA MADRE</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia1"
            placeholder="Garantía"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
      </tr>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">MEMORIA RAM</td>
        <td><input
            class="text-center w-100"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia1"
            placeholder="Garantía"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
      </tr>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">DISCO RIGIDO</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia1"
            placeholder="Garantía"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
      </tr>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">GABINETE</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia1"
            placeholder="Garantía"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input
            type="text"
            id="garantia6"
            type="text"
            id="precio1"
            placeholder="Precio"
          /></td>
      </tr>
      <tr>
        <td style="background:rgba(166, 166, 166, 0.721)">MONITOR</td>
        <td><input
            class="text-center"
            style="width: 40px;"
            type="number"
            id="cantidad1"
            min="1"
            value="1"
          /></td>
        <td><input
            class="w-100"
            type="text"
            id="descripcion1"
            placeholder="Descripción"
          /></td>
        <td><input
            class="text-center w-100"
            type="text"
            id="garantia6"
            placeholder="Garantia"
          /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
        <td><input type="text" id="precio1" placeholder="Precio" /></td>
      </tr>

    </tbody>
  </table>

  <button id="agregar-componente">Crear Presupuesto</button>

  <div id="excel-sheet"></div>

  <script src="script.js"></script>
</body>